<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error | <%= data.error %></title>
        <link rel="stylesheet" href="/stylesheets/general.css">
    </head>
    <body>
        <%- include("../partials/nav") %>
        <main>
            <h1>Error <%= data.error %></h1>
        </main>
    </body>
</html>