<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/stylesheets/general.css">
        
        <style>
            .error {
                color: red;
                margin: 0 2px;
            }
        </style>
    </head>
    <body>
        <%- include("../partials/nav") %>
        
        <main>
            <h1>Log in</h1>
            <form action="/login" method="post">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email"><br>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password"><br><br>
                <input type="submit" value="Log In">
            </form>
            <br>
            <p class="error"><%- data.error %></p>
            <br>
            <a href="/signup">Sign Up</a>
        </main>
    </body>
</html>