<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=data.user.Username%>'s Profile</title>
        <link rel="stylesheet" href="/stylesheets/general.css">
    </head>
    <body>
        <%- include("../partials/nav") %>
        
        <main>
            <h1><%=data.user.Username%>'s Profile</h1>
            <% if (data.user.Motto) { %>
                <h2><i><q><%=data.user.Motto%></q></i></h2>
            <% } %>
        </main>
    </body>
</html>